!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title Slide deck
    :css
      #{stylesheet}
  %body
    #flash
      %p Use the arrow keys to navigate. Press 'h' for help.
    #help
      %p Some help text here
      %dl
        %dt [left] or [pgup]
        %dd previous slide
        %dt [right] or [pgdn]
        %dd next slide
        %dt [home]
        %dd first slide
        %dt [end]
        %dd last slide
        %dt e
        %dd toggle expose
        %dt h
        %dd toggle help
      %p Powered by Slidize
    #viewport
      #slides
        - slides.each do |slide|
          .slide{:class => slide["class"], :title => slide["title"]}
            .inner
              :preserve
                #{slide.html}
    :javascript
      #{javascript}
